canvas {
                display:block;
                margin:20px auto;
                border:1px solid #666;
                height:400px;
                width:500px;
            }



html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: Segoe UI;
  text-align: center;
  font-size: 100%;
  color: #353535;
  line-height: 1.5;
}

a {
  color: #01c853;
  text-decoration: none;
  text-shadow: 1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white;
  transition: all .3s ease;
}

a:hover {
  background: linear-gradient(#fff 1.2em, #eee 1.2em)
}


article {
  max-width: 44em;
  width: 95%;
  margin: 0 auto;
}

header {
  margin: 1em 0;
  border-bottom: thin solid #eee;
}

h1 {
  font-family: Segoe UI Light;
  margin: 1em 0 .25em;
  font-size: 1.5em;
}

h1 strong {
  font-family: Segoe UI;
  font-weight: 700;
}

h2 {
  font-family: Segoe UI;
  font-weight: 400;
  margin: 0 0 1em;
  font-size: 1em;
}

p {
  margin: 0;
}

p + p {
  margin: 1em;
}